/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    color: white;
}

.flex{
    display: flex;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* css MAIN */

main{
    background-color: black;
    /* height: 90vh;
    overflow: scroll; */
}

section.buttons{
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

section.buttons span.badge{
    background-color: #4a4a4a;
    margin: .5rem .3rem 0 0;
    padding: .2rem;
    border-radius: .3rem;
    font-size: .6rem;
}

section.container div.card{
    height: 120px;
    width: 170px;
    background-image: url("https://picsum.photos/200/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 .5rem .75rem 0;
}

main section.container{
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 2rem 0;
}

div.card span.name{
    background-color: rgba(211, 211, 211, 0.5);
    font-size: .7rem;
    padding: .2rem;
}

/* css FOOTER */

footer{
    background-color: #222222;
}

nav.interactive-button{
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem;
}

nav.flex div.list{
    height: 70px;    
}

div.list ul li{
    display: inline-block;
    padding: .5rem;
    text-align: center;
    font-size: 1.4rem;
}

li span.description{
    display: block;
    font-size: .5rem;
    padding-top: .2rem;
}

div.list li.hat{
    font-size: .8rem;
}

nav.flex div.end-call{
    background-color: #4a4a4a;
    color: red;
}

div span#end-meeting{}





